@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стилизация фона с помощью шума */
.bg-craft-paper {
    background-image: url('/static/img/kiwihug-3gifzboyZk0-unsplash\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mx-82 {
    margin-left: 18rem;
    margin-right: 18rem;
}

/* .julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
} */
  
  