<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{% static 'img/rings_101949.ico' %}" type="image/x-icon">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    {% if message %}
    <script>
        function showPopup() {
            const popup = document.getElementById('popup');
            const all_content = document.getElementById('content');
            setTimeout(() => {
                popup.classList.add('hidden')
                all_content.classList.remove('hidden')
            }, 5000);
        }

        window.onload = showPopup;
    </script>
    {% else %}
    <link rel="stylesheet" href="{% static 'css/load.css' %}"> 
    {% endif %}   
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metas %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body class="bg-white">

    {% comment %} <div id="popup" class="min-h-screen flex flex-col items-center justify-center ">
        <div class="sm:mx-auto sm:w-full sm:max-w-md text-center">
            <span class="fixed text-4xl font-extrabold text-gray-900 sm:text-5xl">
                fsdff sdf sdf
            </span>
        </div>
    </div> {% endcomment %}
    {% if message %}
    <div id="popup" class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md text-center">
            <span class="text-4xl font-extrabold text-gray-900 sm:text-5xl">
                {{ message }}
            </span>
        </div>
    </div>
    {% else %}
    <div id="loading-screen" class="bg-white min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md text-center mx-5">
            <img src="{% static 'img/photo.jpeg' %}" class="animate-bounce rounded-lg" alt="Здесь должно быть фото молодоженов) Но что-то пошло не так...">
            {% comment %} <img src="{% static 'img/304.gif' %}" class="animate-bounce rounded-lg" alt="Здесь должно быть фото молодоженов) Но что-то пошло не так..."> {% endcomment %}
        </div>
    </div>
    {% endif %}
    {% comment %} <div id="loading-screen" class="flex">
        <img src="{% static 'img/heart-svgrepo-com.svg' %}" alt="Свадебная анимация">
    </div> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/signature.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/load.css' %}">
    {% block links %}{% endblock links %}
    <script src="{% static 'js/signature.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    {% block scripts %}{% endblock scripts %}
    <div id="content" class="font-EB mx-5 md:mx-10 hidden">
        {% block content %}{% endblock %}
    </div>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/load.js' %}"></script>
    <div class="my-10 md:mx-81 flex flex-col justify-center items-center text-gray-400">
        <a href="https://t.me/evg_9n" target="_blank"><span class="">Разработчик Евгений Емельянов</span></a>
    </div>
</body>
</html>

